@import url('https://fonts.googleapis.com/css2?family=Karla:wght@400;700&display=swap');

*,*::after,*::before{
    box-sizing: border-box;
}

html{
    box-sizing: inherit;
}

h1,h2,h3,h4,p,span{
    margin: 0;
    padding: 0;
}

body{
    padding: 0;
    margin: 0;
    font-family: 'Karla', sans-serif;
    font-size: 16px;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: hsl(204, 43%, 93%);
    padding: 50px 30px;
}

.container{
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.1);
}

.container .top{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 15px 25px 25px 25px;
    background-color: white;
}

.container .top h1{
    color: hsl(179, 62%, 43%);
    font-size: 20px;
    font-weight: 700;
    padding: 15px 0;
}

.container .top span{
    color: hsl(71, 73%, 54%);
    padding-bottom: 15px;
}

.container .top p{
    line-height: 25px;
    font-size: 13px;
    color: hsl(218, 22%, 67%);
    font-weight: 400;
}


.container .bottom{
    display: flex;
    flex-direction: column;

}

.container .bottom .bottom-first{
    padding: 15px 25px 25px 25px;
    background-color: hsl(179, 62%, 43%);
}

.container .bottom .bottom-first h2{
    font-size: 18px;
    color: white;
    padding: 15px 0;
}

.container .bottom .bottom-first span{
    color: white;
    font-size: 30px;
    font-weight: 700;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-bottom: 5px;
}

.container .bottom .bottom-first span span{
    font-size: 15px;
    padding-left: 15px;
    color: rgba(255, 255, 255, 0.5)
}
.container .bottom .bottom-first p{
    color: hsl(204, 43%, 93%);
    padding-bottom: 25px;
}

.container .bottom .bottom-first button{
    border: none;
    background: none;
    text-align: center;
    width: 100%;
    display: block;
    padding: 15px;
    color: white;
    border-radius: 5px;
    background-color: hsl(71, 73%, 54%);
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.2);
}

.container .bottom-second{
    padding: 15px 25px 25px 25px;
    background-color: hsla(179, 62%, 43%,0.7);
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}
.container .bottom-second h3{
    padding: 15px 0;
}

.container .bottom-second p{
    font-size: 14px;
    padding-right: 60px;
    line-height: 20px;
    color: hsl(204, 43%, 93%);
}


@media screen and (min-width:1440px) {
    body{
        justify-content: center;
    }
    .container{
        width: 600px;
    }
    .container .bottom{
        flex-direction: row;
        justify-content: space-between;
    }
    .container .bottom .bottom-first{
        flex: 1 1 250px;
    }
    .container .bottom .bottom-second{
        flex: 1 1 250px;
    }
}